body {
  margin: 0;
}

.container {
  text-align: center;
  background-color: blanchedalmond;
  height: 950px;
  width: 100%;
}


h1{
  margin-top: auto;
  padding-top: 80px;
  font-size: 50px;
  color:#055c49;
}

.form button {
  background-color:#055c49;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  display: inline-block;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  margin: 50px 50px;
  cursor: pointer;
}

.form .button1:hover {
  background-color: white;
  border: 2px solid #055c49;
  color: #f61350;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.10);
}

.form input{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid red;
}


.list ol{
  list-style-position: inside;
  font-size: 20px;
  font-weight: bold;
  color:#055c49;
  margin: 0;
}