* {
  margin: 0;
  padding: 0;
}
.header{
  text-align: center;
}

.container {
  background-color: blanchedalmond;
  height: 950px;
  width: 100%;
}

.formButton {
  margin: 100px auto 0;
  width: 730px;
  display: flex;
}

h1{
  margin-top: auto;
  padding-top: 80px;
  font-size: 50px;
  color:#055c49;
}

 .button1 {
  background-color:#055c49;
  border: none;
  color: white;
  margin-top: 8px;
  margin-left: 20px;
  padding: 11px 90px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.2s;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  float: right;
}

.button1:hover {
  background-color: white;
  border: 2px solid #055c49;
  color: #f61350;
}

.form input{
  width: 450px;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  border: 2px solid red;
}

.list{
  width: 730px;
  margin: 50px auto;
}

.list ol{
  list-style-position: inside;
  font-size: 20px;
  font-weight: bold;
  color: #055c49;
  text-align: left;
}


.allButtons{
 text-align: right;
}

.button2 {
  background-color:#10de99;
  border: none;
  color: #055c49;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.button3 {
  background-color: #f61350;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}